.custom-scrollbar--color-mode::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar--color-mode::-webkit-scrollbar-track {
  width: 6px;
}
.custom-scrollbar--color-mode::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-gray-300);
  border-radius: 24px;
}
[data-theme="dark"] .custom-scrollbar--color-mode::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-gray-500);
}
.supa-shadows__header svg {
  fill: var(--chakra-colors-gray-800);
}
[data-theme="dark"] .supa-shadows__header svg {
  fill: var(--chakra-colors-gray-100);
}
.fade-out {
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
  border: 1px solid var(--chakra-colors-gray-200);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  margin: 0px;
  padding: 0px;
  flex-shrink: 0;
}
.supa-shadows__custom-input-color {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: 0;
  border-radius: 100px;
}
